<html lang="en">
<head>
  <meta charset="utf-8">
  
  <title>Fashion Feet</title>
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="styles.css">
</head>
<body>
     <h1 class="c1">Fashion Feet Inventory Management System</h1>
	 <h3><a href="/create" class="c2">Add New Product</a></h3>
	 <h3><a href="/updatestock" class="c2">Update Stock</a></h3>
	 <h3><a href="/deleteproduct" class="c2">Delete Product</a></h3>
	 
	 <h2>Welcome</h2>
	 <center>
	 <table>
	 <tr>
	    <th>Prduct ID</th>
		<th>Category</th>
		<th>Type</th>
		<th>Size</th>
		<th>Stock</th>
		<th>Price</th>
	</tr>
	<% for(var i=0; i<data.length;i++) {%>
	<tr>
	   <td><%=data[i].pid %></td>
	   <td><%=data[i].category %></td>
	   <td><%=data[i].type %></td>
	   <td><%=data[i].size %></td>
	   <td><%=data[i].stock %></td>
	   <td><%=data[i].sp %></td>
	 </tr>
	 <%}%>
	 </table>
	 </center>
	 </body>
	 </html>
